.eggs/*
.tox/*
__pycache__/
*.egg-info/
build/*
dist/*
*/*/AGENTS.md
**/.DS_Store
docs/_build/doctrees/contributing.doctree
docs/_build/doctrees/environment.pickle
docs/_build/doctrees/index.doctree
docs/_build/doctrees/installation.doctree
docs/_build/doctrees/readme.doctree
docs/_build/doctrees/usage.doctree
docs/_build/html/.buildinfo
docs/_build/html/.buildinfo.bak
docs/_build/html/contributing.html
docs/_build/html/genindex.html
docs/_build/html/index.html
docs/_build/html/installation.html
docs/_build/html/objects.inv
docs/_build/html/readme.html
docs/_build/html/search.html
docs/_build/html/searchindex.js
docs/_build/html/usage.html
docs/_build/html/_sources/contributing.md.txt
docs/_build/html/_sources/index.rst.txt
docs/_build/html/_sources/installation.rst.txt
docs/_build/html/_sources/readme.md.txt
docs/_build/html/_sources/usage.rst.txt
docs/_build/html/_static/alabaster.css
docs/_build/html/_static/basic.css
docs/_build/html/_static/custom.css
docs/_build/html/_static/doctools.js
docs/_build/html/_static/documentation_options.js
docs/_build/html/_static/file.png
docs/_build/html/_static/github-banner.svg
docs/_build/html/_static/language_data.js
docs/_build/html/_static/minus.png
docs/_build/html/_static/plus.png
docs/_build/html/_static/pygments.css
docs/_build/html/_static/searchtools.js
docs/_build/html/_static/sphinx_highlight.js
